<!-- Method "POST" and calls /send-mail view -->
<form method="POST" action='/send-email'>
	<fieldset>
		<legend>Enter your contact information:</legend>
		<label for='name'>Name</label>
		<input type="text" name="name"><br>
		<label for='email'>Email</label>
		<input type="text" name="email"><br>
		<label for='thoughts'>What are you thinking?</label>
		<textarea id='thoughts' name='thoughts'></textarea><br>
		<input class=submit_button type="submit" value="Submit">
	</fieldset>
</form>